<%= stylesheet('bootstrap','style','reg-login')%>
<div id="main">
  <div  class="container">
    <%= render 'public/flash_notice' %>
      <div class="comm-form">
        <h2 class="title">用户登陆</h2>
        <%= form_tag  sessions_path ,:class => 'form-horizontal' do %>
          <div class="control-group">
            <label class="control-label" >Email</label>
            <div class="controls">
              <input type="text" class="input-large " name="email">
            </div>
          </div>
    
          <div class="control-group">
            <label class="control-label" >密码</label>
            <div class="controls">
              <input type="password" class="input-large " name="password">
            </div>
          </div>

          
          <div class="controls">
            <label class="checkbox">
                        <input type="checkbox"  name="remember_me" checked>
                下次自动登录
                <a href="">忘记密码</a>
                 </label>
          </div>
                <div class="controls">
                  <button class="btn btn-success" type="submit">提交</button>
                </div>
        <% end %>
      </div>
    </div>




</div>