
<% @comments.each do |comment| %>
	<div class="tr-item cc">
		<div class="avatar">
			<a href=""><img src="img/avatar.jpg" alt="wikimo" title="wikimo"></a>
		</div>
		<div class="topic-box">
			<div class="topic-info">
				<p><a href=""><%= comment.user.username %></a> 发表于：<%= timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago %></p>
			</div>
			<div class="content">

				<p><%= raw comment.content %></p>

			</div>
		</div>
	</div>
<% end -%>


