

<p>
  <p>
    <%= user_avatar_helper(comment.user) %>
  </p>
  <p><%= raw comment.content %></p>
  <p>发表于：<%= timeago_tag comment.created_at, nojs: true, limit: 10.day.ago %></p>
  <p>
  <%= link_to("回复", "#", "data-login" => comment.user.nickname, 
              title:  "回复#{comment.user.nickname}", class: 'post-again', 
              onclick:  "return CommentApp.comment('#{comment.user.id}', '#{comment.user.nickname}')") %>
  </p>
</p>




