
<% if current_user %>
	<%= form_for [item, Comment.new], :html => {:class => 'form-vertical'} do |f| %>
		<fieldset>
			<%= f.hidden_field :user_id, :id => 'user_id', :value => current_user.id %>
			<label for="" class="">您的评论</label>
			<%= f.text_area :content, :id => 'comment-textarea', :rows => 5 %>
			<%= f.submit '评论', :class => 'btn btn-primary' %>
		</fieldset>
	<% end -%>
<% end -%>