
<% if current_user %>
	<%= form_for :reply, :url => reply_create_comment_path(item), :method => 'get' do |f| %>
		<%= f.hidden_field :user_id, :id => 'user_id', :value => current_user.id %>
		<label for="" class="">您的回应</label>
		<%= f.text_area :content, :id => 'comment-textarea', :rows => 5 %>
		<%= f.submit '回应', :class => 'btn btn-primary' %>
	<% end -%>
<% end -%>