<%= stylesheet('bootstrap','style','group','search')%>
<div id="main">
	<div  class="container">

		<div class="search-keyword">
			<h4>检索关键词：<%= @keyword %></h4>
		</div>
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => {:topics  => @topics,:is_topics => false}%>
		</div>
		
	</div>
</div>