<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">
        <ul class="nav nav-pills">
          <%= search_nav_helper(params[:action], params[:query]) %>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="users">
              <% @users.each do |user| %>
                <div class="user-item">
                  <div class="avatar">
                    <%= link_to user_avatar_helper(user), user %>
                  </div>
                  <p><%= user.nickname %><p>
                </div>
              <% end %>
            </ul>
            <%= will_paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
