<%= stylesheet('bootstrap','style','group','search')%>
<div id="main">
	<div  class="container">

		<div class="search-keyword">
			<h4>检索关键词：<%= @keyword %></h4>
		</div>
		<div class="users">
		<%@users.each do |user|%>
			<%= user.nickname%>
		<%end%>
		</div>
		<%= will_paginate @users %>
	</div>
</div>