.admin-index{
    padding: 70px 0 0 0;
}
.avatar img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.good-photos ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.good-photos ul li{
    float: left;
    padding: 5px;
    text-align: center;
}
.good-photos ul li img{

    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}



/*清除浮动 代码*/
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}/* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc {display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}



