.good-photos ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.good-photos ul li{
    float: left;
    padding: 5px;
    text-align: center;
}
.good-photos ul li img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    width: 150px;
    margin-bottom: 5px;
}

.good-photos ul li .glyphicon-remove-circle{
    margin: 0 5px;
}


