<%= stylesheet('bootstrap','style','group')%>


<div id="main">
	<div  class="container">

		<div class="title-box">
			<h4>发现话题 ...</h4>
		</div>
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => {:topics  => @topics, :is_topics => false}%>
		</div>
	</div>
</div>