<div class="home_index">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="topic-list">
        <%= link_to '创建话题', new_topic_path, class: 'btn btn-primary' %>
        <ul>
          <%= render partial: "public/topics", collection: @topics, as: :topic %>
        </ul>
      </div>
        <%= will_paginate @topics, previous_label: '上一页', next_label: '下一页' %>
    </div>
  </div>
</div>
