<div class="home-index">
  <div class="row">

    <div class="col-xs-12 col-md-8">
      
      <div class="topic-list">
        <ul>
          <%= render partial: "topics", collection: @topics, as: :topic %>
        </ul>
      </div>
      <%= will_paginate @topics, previous_label: '上一页', next_label: '下一页' %>
    </div>

    <div class="col-xs-6 col-md-4">

      <div class="qrcode">
				<img src="public/images/qrcode.jpg" alt="">
				
				<p>分享宝贝成长历程的各种事物……</p>
				<p>微信号：xiguashe</p>
			</div> 

    </div>
  </div>
</div>
