<div id="group_form" class="modal hide">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="add_group_label">
				查看小组
			</h3>
		</div>
		<div class="modal-body">
			<p>

				<h5>话题名称</h5>
				<div class="controls"><%= group.name %></div>

				<h5>话题内容</h5>
				<div class="controls"><%= raw group.descrip %></div>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	</div>

