<div id="main">
	<div class="groups-box">
		<ul>
		<%@groups.each do |group|%>
			<li>
				<% if group.icon.exists? %>
					<%= image_tag group.icon.url(:original) %>
				<% else %>
					<%= image_tag 'no_pic.png' %>
				<% end %>
				
				<h4><%=link_to group.name,"/groups/#{group.id}/topics"%></h4>

			</li>
		<%end%>
		</ul>
		<%= link_to '申请创建小组', new_group_path %>
		
	</div>
</div>