<%= stylesheet('bootstrap','style','group')%>
<div id="main">
<div  class="container">
	<div class="comm-left">
		<div class="group-info cc">
			<div class="group-logo">
				<a href=""><img src="img/g.jpg" alt=""></a>
			</div>
			<div class="group-detail">
				<h4><%= @group.name%></h4>
				<p>成员：100</p>
				<p>话题：100</p>
				<p>简介：<%= @group.descrip%></p>
			</div>
			<a href="" class="btn btn-success group-join">加入小组</a>
		</div>

		<div class="topic-list">
			<ul>
				<li>
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				<li class="nm">
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>

				<li>
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				<li  class="nm">
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
									
				<li>
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				<li  class="nm">
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				<li>
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				<li  class="nm">
					<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
					<div class="content">
					
					<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
					</div>
					<div class="topic-footer">
						<div class="user">
							<a href=""><img src="img/avatar.jpg" alt=""></a>
							<a href="">wikimo</a>
						</div>
						

						<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
						<div class="c"></div>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
	<div class="comm-right">
		
		<div class="group-members">
			<h4>小组管理员</h4>
			<div class="content cc">
				<ul>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
				</ul>
			</div>
		</div>

		<div class="group-members">
			<h4>活跃成员</h4>
			<div class="content cc">
				<ul>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
				</ul>
			</div>
		</div>

		<div class="group-members">
			<h4>最新加入</h4>
			<div class="content cc">
				<ul>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
					<li><a href=""><img src="img/avatar.jpg" alt="wiki" title="wiki"/></a><p>wiki</p></li>
				</ul>
			</div>
		</div>

		<div class="side-ad mt10"><a href=""><img src="img/ad.jpg" alt=""></a></div>

		</div>
	</div>
</div>
</div>