<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="setting">
        <h2>设置</h2>
        <ul class="nav nav-pills">
          <%= profile_nav(@user.id, !params[:do].nil? ? params[:do] : 'profile') %>
        </ul>
        <div class="tab-content">

          <%= params_do_helper(params[:do]) %>

        </div>
      </div>
    </div>
  </div>
</div>
