<%= stylesheet('bootstrap','style','group','user')%>

<div class="user-container">
	<%= render 'user_info'%>
</div>

<div id="main">
	<div  class="container">
		

		<div class="group-list  cc mt10">
	
			<%= render :partial => 'public/groups',:locals  => {:groups  => @groups}%>
		</div>
		
	</div>
</div>