<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">
        <ul class="nav nav-pills">

          <%= user_nav_helper(current_user, params[:action]) %>

          </li>
        </ul>
        <div class="tab-content">
          <%= render partial: 'tab_pane', locals: { topics: @topics } %>
        </div>
      </div>
    </div>
  </div>
</div>

