<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">

        <%= link_to user_avatar_helper(@user), @user, class: 'avatar', title: @user.nickname %>
        <span><%= @user.nickname%></span>

        <div class="tab-content">
          <%= render partial: 'products', locals: { products: @products } %>
        </div>
      </div>
    </div>
  </div>
</div>

