


<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#topics" data-toggle="tab">参与讨论</a>
          </li>
          <li>
            <a href="#likes" data-toggle="tab">我的喜欢</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="topics">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- stylesheet('bootstrap','style','group','user')-->

<div class="user-container">
	<%= render 'user_info'%>
</div>

<div id="main">
	<div  class="container">
		
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => {:topics  => @topics, :is_topics => false}%>
		</div>
		
		<%= will_paginate @topics %>
	</div>
</div>
