<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#topics" data-toggle="tab">参与讨论</a>
          </li>
          <li>
            <a href="#likes" data-toggle="tab">我的喜欢</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="topics">
            <ul>
              <%= render partial: 'topics', collection: @topics, as: :topic %>
            </ul>
          </div>
          <div class="tab-pane">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

