<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content">
        <ul class="nav nav-pills">

          <%= user_nav_helper(current_user, params_do_helper(params[:action], params[:do])) %>

          </li>
        </ul>
        <div class="tab-content">
          <%= render partial: params_do_helper(params[:action], params[:do]), locals: { topics: @topics } %>
        </div>
        <%= will_paginate @topics %>
      </div>
    </div>
  </div>
</div>

