<%= stylesheet('bootstrap','style','group','user')%>

<div class="user-container">
	<div class="user-box">
		<div class="avatar">
			<%= image_tag 'avatar.jpg' ,:alt => @user.nickname%>
		</div>
		<div class="user-info">
			<h4><%= @user.nickname%></h4>
			<div class="user-nav">
				<a href="" class="active">话题</a>
				<a href="">小组</a>
				<a href="">关注</a>
				<a href="">粉丝</a>
				<a href="">收藏</a>
			</div>
		</div>
		<div class="c"></div>
	</div>
</div>

<div id="main">
	<div  class="container">
		

		<div class="topic-list topics">
				<ul>
					<li>
						<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
						<div class="content">
						
						<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
						</div>
						<div class="topic-footer">
							
							

							<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
							<div class="c"></div>
						</div>
					</li>
					<li class="nm">
						<h2><a href="">《1942》摄影指导吕乐分享创作心得</a></h2>
						<div class="content">
						
						<p>话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内.....</p>
						</div>
						<div class="topic-footer">
							

							<div class="counter"><span title="浏览数" class="viewer-num"><i class="ico"></i><span>67</span></span><span title="喜欢数" class="liked-num"><i class="ico"></i><span>1</span></span><span title="评论数" class="comments-num"><i class="ico"></i><span>0</span></span></div>
							<div class="c"></div>
						</div>
					</li>

					
				</ul>
			</div>
		
	</div>
</div>