<!-- stylesheet('bootstrap','style','group','user')-->

<div class="user-container">
	<%= render 'user_info'%>
</div>

<div id="main">
	<div  class="container">
		
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => {:topics  => @topics, :is_topics => false}%>
		</div>
		
		<%= will_paginate @topics %>
	</div>
</div>