<div id="main">
	<div class="container">
		<div class="about">
			<div class="logo"><%= image_tag 'logo.jpg', :alt => '西瓜社'%></div>
		

					<p>西瓜社是一个针对年轻父母交流育儿，早教，亲子等相关信息的社区，通过该平台分享孩子生活的点滴，交流相关经验，分享亲子相关的一些兴趣爱好，帮助年轻父母解决孩子成长过程中的一系列问题，给孩子一个美好的未来。</p>
					
		</div>
	</div>
	
</div>
