<div id="main">
	<div class="container">
		<div class="comm-box">

			<%= image_tag 'qrcode.jpg', :alt => '西瓜社'%>
			<div class="content">
				<h3>关于西瓜社</h3>
				<p>西瓜社是一个针对80后父母交流育儿，早教，亲子等相关信息的社区。通过该社区分享孩子的生活，探讨父母在孩子成长过程中的一系列问题。</p>
			</div>		
		</div>
	</div>
	
</div>
