<div id="main">
	<div class="container">
		<div class="comm-box">

			<%= image_tag 'qrcode.jpg', :alt => '西瓜社'%>
			<div class="content">
				<h3>关于西瓜社</h3>
				
			</div>		
		</div>
	</div>
	
</div>
