<div id="main">
	<div class="container">
		<div class="page-box cc">
			<h3>联系我们</h3>
			<div class="contacter">
				<%= image_tag 'wikimo.jpg', :alt => 'wikimo'%>
				<p>wikimo</p>
				<p>Email: gwikimo@gmail.com</p>
				<p>微博:  <a href="http://weibo.com/wikimo" target="_blank">@莫大青</a></p>
			
			</div>
			<div class="contacter">
				<%= image_tag 'cedric.jpg', :alt => 'cedric'%>
				<p>cedric</p>
				<p>Email: cedric_chenzhong@163.com</p>
				<p>微博: <a href="http://weibo.com/chenzhongwb" target="_blank">@cedric重</a></p>
			
			</div>
					
		</div>
	</div>
	
</div>
