<div class="home-index">
  <div class="row">

    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @topics.each_with_index do |topic, i| %>
            <% if i == 0 %>
              <li data-target="#carousel-example-generic" data-slide-to="#{i}" class="active"></li>
            <% else %>
              <li data-target="#carousel-example-generic" data-slide-to="#{i}">
            <% end %>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <%= render partial: 'public/topics', locals: { topics: @topics } %>
        </div>
      </div>
      <div class="good-list">
        <ul>
          <%= render partial: "public/products", collection: @products, as: :product %>
        </ul>
      </div>
    </div>

  </div>
</div>
