<div class="home-index">
  <div class="row">
    <div class="col-xs-12">

      <div class="good-list">
        <ul>
          <%= render partial: "public/products", collection: @products, as: :product %>
        </ul>
   

      </div>
      <div class="more-goods">
         <%= link_to '查看更多',products_path,:class => 'btn btn-primary btn-lg'%>
      </div>
     
    </div>
  </div>
</div>
