<div class="home-index">
  <div class="row">

    <div class="col-xs-12 col-md-8">
      <div class="topic-list">
        <h3>最新话题...</h3>
        <ul>
          <%= render partial: "public/topics", collection: @topics, as: :topic %>
        </ul>
        <%= link_to '显示更多...', topics_path, class: 'more' %>
      </div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="good-list good-list-fixed">
        <h3>最新分享...</h3>
				<ul>
          <%= render partial: "public/products", collection: @products, as: :product %>
        </ul>
        <%= link_to '显示更多...', products_path, class: 'more' %>
      </div>
    </div>
  </div>
</div>
