<%= stylesheet('bootstrap','style','group')%>

<div class="main">
	<div class="container">

		<ul class="nav nav-pills">
		    <li class="active">
		    	<a href="#">推荐话题</a>
		    </li>
		    <li><a href="#">推荐小组</a></li>
		    <li><a href="#">推荐用户</a></li>
	    </ul>
	</div>

</div>