/*F24564
f26983*/
*{padding: 0;margin: 0}
body{background: #F2F2F2}
a:hover{text-decoration: none;}
.navbar-text a{color: #666;}
#header .mar-35{margin-right:35px;}

#header{height: 49px;}
#footer{margin:auto;color: #777;line-height: 1.5em; padding: 15px;font-size: 12px;padding-bottom: 50px}
#footer p{margin-bottom: 5px;color: #bbb}
#footer a{color: #aaa}

.nav li a{font:18px/1.5em 'Microsoft Yahei'}
.navbar .nav li .active{background: #f24564;color: #fff;}
.navbar .brand{font:20px 'Microsoft Yahei'}
.navbar-text{font:16px/2.8em 'Microsoft Yahei'}
.navbar-text .active{padding: 2px 10px;border-radius: 3px;margin-left: 5px}
#main{width: 940px;margin: 10px auto;position: relative;}
#main ul{list-style: none;padding: 0;margin: 0}
#main a{text-decoration: none;}

.anony-reg{width: 940px;margin:auto;padding:20px 0 ;}
.index-reg{float: left;margin:10px 0 0 0;}
.index-reg b{font:16px 'Microsoft Yahei'; color: #666;margin: 0 12px;}
.index-login{float: right;margin-right: 50px;}
.index-login .control-group{float: left;margin: 0 3px;}
.reg-login-wrap {background: #fff;width: 100%;margin-top: 20px;}
.lnk-reg{background: #F24564;color: #fff;padding:7px 18px;border-radius: 2px;display: inline-block;}
.lnk-reg:hover{color: #fff;}

.side-ad a img{width: 300px;}

.player-box{float: left;width: 565px;}
.pics-box{float: right;width: 360px;height: 326px;overflow: hidden;}
.pics-box .vbox{margin-bottom: 10px}
.pics-box img{width: 360px;height: 160px;}

.grp-cats a{font:14px 'Microsoft Yahei';color: #666;margin-left:10px;}
.grp-cats a:hover{color: #ee0000;}

.comm-box{background: #FFF;}
.group-list{position: relative;}
.group-list li{width: 280px;float: left;padding:10px;background: #FFF;margin:5px 15px 25px 2px;}
.group-list li img{width: 100px;height: 100px}
.group-list li h4{color: #666}
.group-list .grp-icon{float: left;margin:0 10px 0 0;width: 100px}
.group-list  .last-item{margin-right: 0}
.group-list  p{font-size: 13px}

.comm-left{width: 630px;float: left;}
.comm-right{width: 300px;float: right;}

.comm-box-footer{padding:8px 0 0 0;border-top: 1px dashed #ccc;margin:5px 0 0 0}
.comm-box-footer .user{float: left;}
.comm-box-footer .counter{float: right;margin:5px 0 0 0}

.comm-form{padding: 20px;background: #FFF;}
.title{margin-left: 100px}
.comm-form .help-block,.comm-form .checkbox a,.comm-form .checkbox{font-size: 12px}

.msgs-box{margin-left: 180px}
.msgs-box ul li{line-height: 2em}

.title-box{padding:8px;width: 924px;position: relative;}
.title-box h4{font-weight: normal;margin:0;}

.title-box .opt-btn{position: absolute;right: 0px;top: 0px;}

/*file upload*/
.btn-add-pic{
    display: block;
    position: relative;
    width: 140px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: #FFF;
	color: #999999;
    cursor: pointer;
	text-align: center;
	cursor: pointer;
}
.btn-add-pic span{display: block;line-height: 39px;}
.btn-add-pic em {
	background:url(/assets/add-pic.png) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}
.btn-add-pic:hover em{background-position:-19px 0;}
.file-prew {
    display: block;
	position: absolute;
    top: 0;
	left: 0;
    width: 140px;
	height: 39px;
	font-size: 100px; /* 增大不同浏览器的可点击区域 */
    opacity: 0; /* 实现的关键点 */
	filter:alpha(opacity=0);/* 兼容IE */
}

.likeable {float: left;margin:50px 0 0 0;}
.likeable span{color:#F64D52;font-size:12px;}
.small_like,.small_liked{width: 12px; height: 12px; background: url('/assets/small.png') -48px 0px no-repeat; display: inline-block;font-size:12px;}
.small_liked{background-position:-60px 0px;}

.navbar-text .msg{background: #BEBEBE;padding:2px 5px;color: #fff;border-radius: 2px}

.fl{float: left;}
.dropdown-menu li > a{font-size: 13px}

.comm-form-wrap{background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px 50px;}

/*notice*/
.notice-list{background: #fff;padding:20px;color: #666;}
.notice-list .notice-content ul li{border-top: 1px solid #ccc;padding: 10px 0;margin:10px 0 0 0;}
.notice-list .notice-content ul li .avatar{margin:5px 12px;width: 40px}
.notice-list .notice-content ul li .avatar img{width: 40px;height: 40px;}
.notice-info{float: left;width: 650px}
.notice-info p{font-size: 12px}
.notice-status{float: right;}
.notice-list .new-icon{padding:0 5px;color: #F24564}
.notice-num cite{font-size: 12px;color: #999}

/* */

/* paginate position*/
.paginate-right-position{text-align: right}

/*back to top*/
#back-to-top {
	background-color: #CCCCCC;
    border-radius: 2px;
    bottom: 10px;
    display: block;
    font-family: Arial;
    line-height: 46px;
    margin-right: 0;
    padding:  5px 7px 8px 5px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 40px;
    z-index: 10;
    text-align:center;
    cursor: pointer;
    color:#eee;
  }
  #back-to-top span{cursor: pointer; }

  #back-to-top em.tr {
    display: block;
    font-size: 74px;
    height: 27px;
    margin: 0 0 0 2px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 40px;
}
#back-to-top .tube {
    display: block;
    font-size: 30px;
    height: 20px;
    margin: -10px 0 0 5px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 40px;
}

.fixed{width: 300px}
/*清除浮动 代码*/
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}/* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc {display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}

