a{color: #555}
body{overflow-x:hidden;background: #EBECED}
header{/*margin-bottom: 10px;*/}

.xgs-row:before,
.xgs-row:after {
  display: table;
  content: " ";
}

.xgs-row:after {
  clear: both;
}
/*.home-index{margin: 0 10%;}*/

.logo{padding: 5px 10px;float: left;}
.logo img{width: 40px}

.sub-nav{margin-bottom: 10px;}
.nav .search-input {float: right;margin:2px 0 0 0;height: 30px}
.search-box{padding:8px 0 0 12px;width: 25%;float: left;display: none;}

.xgs-inverse .navbar-toggle .icon-bar {
  background-color: #DE533C;
}
.xgs-inverse{
    background: #2F2F2F;
    border-radius: 0;
}
.xgs-inverse a{
    color: #fff;
}

.xgs-nav{
    /*background: #666;*/
    border-radius: 3px;
}
.xgs-nav li a{
     font-size: 20px;   
}

.xgs-nav li a:hover{
    background: #DE533C;
    color: #fff
}

.more-item{position: absolute;right: 20px; top: 5px;text-decoration: none;}

.topic-list ul,.article-list ul{padding: 0;margin:0;}
.topic-list ul li,.article-list ul li {list-style: none;color: #999;position: relative;padding: 0 15px 18px 0;margin-bottom: 15px;padding: 10px;border-radius: 4px;overflow: hidden;}
.topic-list ul li{background: #fff;padding: 15px;}
.article-list ul li article{background: #fff;padding: 15px;border-radius: 5px;}
.topic-list ul li:hover{}

.topic-list ul li p{line-height: 2em;font-family: Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;font-size: 16px;padding-bottom: 30px;color: #666}

.topic-list ul li h2,.article-list ul li h2{font:  18px/1.5em "黑体";margin:5px 0;}
.topic-list ul li img{width: 100%;max-width: 400px;max-height: 260px;overflow: hidden;}

.topic-list ul li .ua img{
    width:40px;height: 40px;border-radius: 50%;
    display: none;
    margin:0 5px;

}
.topic-list ul li .ua .username{
    color: #999;
}
.topic-list .article-info{color: #999;margin:5px 0 0 0;}
.topic-list .article-info span{padding: 0 6px;}
.article-list li .article-info {text-align: right;}
.article-list li .article-info a{float: left;}
.article-list li .article-info img{width: 28px;height: 28px;border-radius: 50%;}

a.more{background: #fff;padding: 8px 15px;border-radius: 2px;text-decoration: none;display: block;margin-bottom: 15px;}
.more:hover{background: #DE533C;color: #fff;}

.tag-nav{margin-left: 10px}
.nav-user {
    bottom: 0;
    padding-bottom: 10px;
    position: absolute;
    width: 50px;
}

.dis-none{
    display: none;
}

.good-list ul,.act-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.good-list li,.act-list li,.article-list li{
    padding: 0 10px;
    margin-bottom: 1em;
    min-height: 1px;
}

.good-list .good,.act-list .item{
    color: #666;
    background: #fff;
    border-radius: 4px;
    padding: 1em;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.good-list .good{
    text-align: left;
}
.good-list .good > *,.act-list .item > *{
    /*white-space:nowrap;*/
    text-overflow:ellipsis;
    overflow: hidden;
}
.good-list .good blockquote{
    padding: 5px;
    height: 60px;
    font-size: 13px;
    color: #A9A9A9;
}
.good-list .good blockquote img{
    width: 28px;
    border-radius: 50%;
}
.good-list .good .avatar{
    display: block;
    width: 40px;
    float: left;
    margin-right: 5px;
}
.avatar img{
    border-radius: 48%;
}

.good-img{position: relative;width: 100%;z-index: 1}
.good-img span{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #333;
    opacity:0.3;
    z-index: 2;
    display: block;
    width: 80px;
    height: 30px;
}
.good-img em{
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 5px;
    z-index: 3;
    font-size: 16px;
}

.good-list .good h3,.act-list .item h3{
    text-align: left;
    color: #DE533C;
    margin:10px 0;
}
.good-list .good footer{
    text-align: left;
    color: #999;
}
.good-list .good footer em{
    float: left;
    font-size: 16px;
   
}
.good-list .good footer cite{
    float: right;
}

.good-list li img,.act-list li img{

    vertical-align: middle;
    margin:auto;
}

.good-list .good-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.good-list li p{text-indent: 1em;}

.good-list li h3,.act-list li h3{
    font: 14px/1.5em "Hiragino Sans GB","Microsoft YaHei",Helvetica,sans-serif;
}

.good-list:before,
.good-list:after,
.act-list:before,
.act-list:after  {
  display: table;
  content: " ";
}
.good-list:after,.act-list:after{
    clear: both;
}

.act-list .act-info{
    text-align: left;
}
.act-list .act-info .item{
    position: relative;
}
.act-list .item .like{
    position: static;
    display: block;
    text-align: left;
}

.like{
    color: #999;
}

.good-list-fixed{
    display: none;
}

.sign-up{
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 2;  
}

.sign-up li a{color: #DE533C;}

.sign-up .dropdown-menu li{float: none;}
.sign-up .msg span{
    border:1px solid #DE533C;
    background: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}
.sign-up .msg a:hover span{
    background: #697C82;
    color: #fff;
}

.hot-tags{
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    display: none;
}

.hot-tags a{
    padding: 8px 5px;
    display: inline-block;
    width: 100px;
}

.topic{
    background: #fff;
    padding: 15px 30px;
    border-radius: 4px;
}
.topic h1{
    font: 28px/1.8em Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}
.topic-info{
    color: #808080;
}

.topic .author{
    position: relative;
    line-height: 2em;
}
.author .avatar{
    display: none;
    margin-left: 5px;
}
.author .avatar img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.topic .show-content{
    font:18px/1.8em Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;
    color: #2F2F2F;
    font-weight: 100;
}

.topic .show-content p{
    margin-bottom: 25px;
}
.topic .show-content img{
    max-width: 600px;
    width: 100%;
}

.actions{
    margin: 10px 0 0 0 ;
    /*background: #3F3F3F;*/
    background: rgba(147, 184, 185, 0.9);
}

.actions-content{
    margin: 0 10%;
    padding: 10px 0  80px 0;

}

.post-comment{
    margin: 10px 0 0 0;
}

.comment-item{
    padding: 15px 10px;
    /*background: #555555;*/
    background: #697C82;
    border-radius: 4px;
    margin: 10px 0;
}
.my-comment{
    background: #748D7D;
}

.comment-item,.comment-item a{
    /*color: #B3B3B3;*/
    color: #FFF;
}

.comment-item .avatar{
    float: left;
    margin-right: 8px
}

.comment-item:after,.user-list:after{
    clear: both;
}

.comment-item:before,
.comment-item:after,
.user-list:before,
.user-list:after{
  display: table;
  content: " ";
}

.comment-item .avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment-item .content{float: left;width: 75%;}
.comment-item .content time{
    color: #999;
}

.act{
    background: #fff;
    padding: 15px 45px;
    border-radius: 5px;
}
.act-pic{
    text-align: center;
}
.act-pic img{
    width: 100%;
}

.setting{
    background: #fff;
    border-radius: 5px;
    padding: 15px 30px;
}

.setting .tab-pane{
    padding: 30px 0;
}

.form .avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item .avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-item{
    text-align: center;
    margin-bottom: 2em;
}
.user-item p{
    color: #999;
}

.user-content .tab-content{
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
}
.user-content .tab-content h3{
    margin-left: 30px;
}
.user-content .tab-content input[type="checkbox"]{
    margin-right: 5px
}

.user-content .tab-content ul li a{
    font: 18px/3em Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}

.user-content .tab-content ul{
    color: #888;
}
.user-content .tab-content ul li{
    border-bottom: 1px dotted #ddd;
}

.user-content .tab-content ul li span{
    float: right;
    color: #999;
    line-height: 3.5em;
}
.user-content .tab-content ul li i{
    margin-right: 5px;
    color: #ccc;
}

.good{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}

.good-pic{
    float: left;
}
.good-pic img{
    width: 100%;
    height: 100%;
    
    margin: 0 20px 20px 0 ;
} 

.good-pic .carousel-inner > .item > img, .good-pic .carousel-inner > .item > a > img{

    height: 300px;
    width: 300px;
    overflow: hidden;
}

.good-info h3{
    margin: 0px 0 15px 0
}

.good-photos ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.good-photos ul li{
    float: left;
    padding: 5px;
    text-align: center;
}
.good-photos ul li img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    width: 150px;
    margin-bottom: 5px;
}

.good-photos ul li .glyphicon-remove-circle{
    margin: 0 5px;
}

.comm-form{
    background: #fff;
    border-radius: 5px;
    padding: 15px 30px;
}

.xgs-form h1,.xgs-form form label{
    color: #666;
}
.xgs-form form label{
    font-weight: normal;
}

.login-reg{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}
.login-reg-content{
    padding: 15px;
}

.opt-box{
    margin-bottom: 10px;
    padding: 0 15px;
}
.opt-box .btn{
    margin-right: 10px;
}
.opt-box span{
    color: #999;
    line-height: 2em;
    white-space: nowrap;
    padding: 0 5px;
}
.h-pdl-30{
    padding-left: 30px;
}

.green-light{
    background: #ABD6BA;
}
.green-weight{
    background: #748D7D;
}

.good-info em{
    font-size: 18px;
    padding-right: 20px;
}
.good-info h3{
    line-height: 1.5em;
}
.good-info blockquote{
        margin-top: 15px;
    }
.sharer{
    padding: 15px 0;
    color: #666;
}
.sharer img{
    width: 28px;
    height:28px;
    border-radius: 50%;
}

.post{
    margin-top: 10px;
}

.qrcode{
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.qrcode{
    display: none;
}
.qrcode p{
    padding: 0 15px;
}

.xg-slider{background: #fff;margin: 10px ;border-radius: 5px;color: #888;width: 96.5%;}
.xg-slider-left{padding: 10px;}
.xg-slider-left cite{font-size: 13px;color: #999}
.xg-slider-avatar img{width: 28px;height: 28px;border-radius: 50%} 

.xg-slider-right img{width: 100%}

.msg-box ul{
    list-style: none

}
.msg-box ul li{
    padding: 10px 0;
}
.msg-box .avatar img{border-radius: 50%;width: 30px;height: 30px;}
.msg-box ul li p{
    padding-left:5%;
}

.loading{
  width: 32px;
  height: 32px;
  background:url(/assets/loading.gif);
  margin: 10px;
  display: none;
}

#exist-product{
    margin:8px ;
}
#exist-product img{
    max-width: 200px;
    width: 100%;
    
}

.popover-content img{
    height: 200px;
}
.price{
    font-size: 18px;
    color: #999;
}

.comm-box{
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}
.comm-box .content{
    text-align: left;
    padding: 10px;
    line-height: 2em;
}
.contacter img{border-radius: 50%;}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    font-size: 13px;
    color: #aaa;
    line-height: 1.5em;
    background: #2F2F2F;
    padding: 10px 0 0 0 ;
    margin-top: 20px;
    width: 100%;
    z-index:3;
}
.footer a{
    padding: 0 5px;
    color: #aaa;
}
.footer p{
    margin-bottom: 5px;
}

.upyun{
    position: absolute;
    right: 45px;
    top: 5px;
}

.more-goods{
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .search-box{
        display: block;
    }
    .topic-list ul li .ua {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .topic-list ul li .ua img{
        display: inline;
    }
    .topic-list ul li h2{padding-right: 22%;}

    .xgs-nav{
        /*background: #EBECED;*/
    }
    .xgs-nav li a:hover{
        background: none;
        color: #DE533C; 
    }
    .xgs-nav .active a{color: #DE533C}

    .hot-tags{
        display: block;
    }

    .good-list{
        display: block;
    }

    .topic .author{
        position: absolute;
        right: 50px;
        top: 50px;
        display: block;
    }
    .topic .author .avatar{
        display: inline;
    }
    .good-list li,.act-list li,.article-list li{
        float: left;
        width: 33%;
        min-width: 240px;
    }
    .article-list li img{
        max-width: 310px;
        width: 100%;
    }
    .good-list .good-img img{
        /*height: 300px;*/
        max-height: 300px;
        overflow: hidden;
    }
    .good-list .good h3{
        height: 42px;
        overflow: hidden;
    }
    
    .good-list-fixed{
        display: block;
    }
    .good-list-fixed li{
        float: none;
        width: 100%;
        padding: 0;
    }

    .act-list .item .like{
        position: absolute;
        right: 14px;
        bottom: 25px;
    }
    .good .slide{float: left;}
    .good-info{
        float: left;
        width: 55%;
    }
    

    .home-index{margin: 0 10%;}
    .user-item{float: left; width: 30%;}
    .good-pic img{
        margin: 0 20px 20px 0 ;
    }
    .qrcode{
        display: block;
    }
    .good footer{
        height: 20px;
    }
    .good-photos ul li img{
        height: 150px;
        width: 150px;
        margin-bottom: 5px;
        border:1px solid #ddd;
    }

    .xg-slider-left{padding: 40px ;}
    .xg-slider-right{height: 274px;}
    .xg-slider-right a{display: block;height: 274px;}
    .no-p{padding: 0}

    .contacter{
        width: 50%;
        float: left;
    }
    .comment-item .content{width: 90%;}

}

#ckepop em{
    float: left;
    font-style: normal;
}

#back-to-top{
    border-radius:2px;
    bottom:0px;
    display:block;
    position:fixed;
    right:10px;
    text-align:center;

    z-index:10;
    cursor:pointer;
    color:#ccc;
 
    font-size: 36px;
}


/*清除浮动 代码*/
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}/* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc {display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}
