<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div  class="container">
		

	    <%= render 'topic', topics: @topics %>
		<%= will_paginate topics, :previous_label =>'上一页', :next_label => '下一页' %>
	</div>


</div>
