

	<div id="topic_form" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="add_topic_label">
				查看话题
			</h3>
		</div>
		<div class="modal-body">
			<p>

				<h5>话题名称</h5>
				<div class="controls"><%= topic.title %></div>

				<h5>话题内容</h5>
				<div class="controls"><%= raw topic.content %></div>
        
        <h5>分项商品链接</h5>
        <div class="controls">
          <ul class="thumbnails">
          <% topic.products.each do |product|%>
            <li class="span3">
              <div class="thumbnail">
                <%= image_tag product.img, alt: product.title %>
                <%= link_to product.title, product.url %>
              </div>
            </li>
          <% end %>
          </ul>
        </div>

			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	</div>

