.following ul li{padding: 10px;background: #fff;float: left;width: 280px;margin: 0 10px 10px 0}
.following ul li img{float: left;width: 60px;margin-right: 10px}
.following ul li .nickname{font-size: 16px}
.following ul li:hover{background: #ddd;}
.following .follow-action{margin-top: 10px}
.following .follow-action a{margin-top: 10px;color: #aaa}