.group-info{background: #FFF;padding: 15px;position:relative;}
.group-detail h4{margin: 0 0 5px 0}
.group-logo{float: left;margin: 0 10px 0 0}
.group-logo img{width: 120px;height: 120px}
.group-detail{float: right;width: 460px;font-size: 13px}
.group-detail h4{display: inline;font:24px/2em 'Microsoft Yahei';}
.group-detail cite{font-size:12px;padding: 0 8px;color: #bbb}
.group-detail p{font-size: 13px;border-top: 1px dotted #ccc;padding:5px 0;margin:0;}


.topic-list{margin:10px 0;overflow: hidden;}
.topic-list ul li{background:#fff;line-height: 2em;padding:10px;width: 290px;float: left;margin: 0 10px 10px 0 }
.topic-list ul li h2{font: 14px/1.5em 'Microsoft Yahei'}
.topic-list ul li:hover{background: #ddd}
.topic-list ul li .content{height: 55px;overflow: hidden;}
.topic-footer{padding:8px 0 0 0;border-top: 1px dashed #ccc;margin:5px 0 0 0}
.topic-footer .user{float: left;}
.topic-footer .user img{width: 40px;height: 40px;}
.topic-footer .counter{float: right;margin:20px 0 0 0}
.topic-list .last-item{margin-right: 0}
.counter .viewer-num, .counter .liked-num,  .counter .comments-num, .counter .members-num {
    display: inline-block;
    line-height: 10px;
    margin-right: 10px;
    vertical-align: top;
}

.counter .viewer-num .ico, .counter .liked-num .ico, .counter .comments-num .ico ,.counter .members-num .ico{
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    vertical-align: top;
    width: 22px;
}

.counter .viewer-num .ico,  .counter .liked-num .ico,  .counter .comments-num .ico,.counter .members-num .ico {
    background: url("/assets/icos-topic-counter.png") no-repeat scroll 0 0 transparent;
}
.counter .liked-num .ico {
    background-position: -24px 0;
    width: 17px;
}
.counter .comments-num .ico {
    background-position: -48px 0;
    width: 19px;
}
.counter .members-num .ico {
    background-position: -70px 0;
    width: 15px;
}

.topics{width: 940px}
.topics ul li{width: 445px}


.group-btns{position: absolute;right: 15px;top: 15px;}

.group-members{background: #FFF;padding: 15px;}
.group-members h4{margin:0 0  5px 0 }
.group-members .content ul li{float: left;margin:5px 6px 5px 6px ;text-align: center;background: #fff;padding: 3px}
.group-members .content ul li p{margin: 0;font-size: 12px}
.group-members .content ul li img{width: 50px;height: 50px;}
.group-members .content ul li:hover{background: #5bb75b;cursor: pointer;}

.avatar{float: left;width: 80px;margin: 0 10px 0 0}
.avatar img{width:80px;height:80px;}
.topic-info{float: left;width: 75%}

.mt10{margin-top: 10px;}

