.group-info{background: #FFF;padding: 15px;position:relative;}
.group-detail h4{margin: 0 0 5px 0}
.group-logo{float: left;margin: 0 10px 0 0}

.topic-list{margin:10px 0;width: 630px;overflow: hidden;}
.topic-list ul li{background:#fff;line-height: 2em;padding:10px;width: 290px;float: left;margin: 0 10px 10px 0 }
.topic-list ul li h2{font: 14px/1.5em 'Microsoft Yahei'}
.topic-list ul li:hover{background: #ddd}
.topic-list ul li .content{height: 55px;overflow: hidden;}
.topic-footer{padding:8px 0 0 0;border-top: 1px dashed #ccc;margin:5px 0 0 0}
.topic-footer .user{float: left;}
.topic-footer .counter{float: right;margin:20px 0 0 0}
.topic-list .nm{margin-right: 0}
.topic-list .counter .viewer-num, .topic-list .counter .liked-num, .topic-list .counter .comments-num {
    display: inline-block;
    line-height: 10px;
    margin-right: 10px;
    vertical-align: top;
}

.topic-list .counter .viewer-num .ico, .topic-list .counter .liked-num .ico, .topic-list .counter .comments-num .ico {
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    vertical-align: top;
    width: 22px;
}

.topic-list .counter .viewer-num .ico, .topic-list .counter .liked-num .ico, .topic-list .counter .comments-num .ico {
    background: url("/assets/icos-topic-counter.png") no-repeat scroll 0 0 transparent;
}
.topic-list .counter .liked-num .ico {
    background-position: -24px 0;
    width: 17px;
}
.topic-list .counter .comments-num .ico {
    background-position: -48px 0;
    width: 19px;
}

.topics{width: 900px}
.topics ul li{width: 425px}


.group-join{position: absolute;right: 15px;top: 15px;}

.group-members{background: #FFF;padding: 15px;}
.group-members h4{margin:0 0  5px 0 }
.group-members .content ul li{float: left;margin:5px 6px 5px 6px ;text-align: center;background: #fff;padding: 3px}
.group-members .content ul li p{margin: 0}
.group-members .content ul li:hover{background: #5bb75b;cursor: pointer;}

.avatar{float: left;width: 80px;margin: 0 10px 0 0}
.avatar img{width:80px;height:80px;}
.topic-info{float: left;width: 75%}

.mt10{margin-top: 10px;}

