/*F24564
f26983*/
*{padding: 0;margin: 0}
body{background: #F2F2F2}
a:hover{text-decoration: none;}
.navbar-text a{color: #666;}
#header .mar-35{margin-right:35px;}

#header{height: 49px;}
#footer{margin:auto;color: #777;line-height: 1.5em; padding: 15px;font-size: 12px;padding-bottom: 50px}
#footer p{margin-bottom: 5px;color: #bbb}
#footer a{color: #aaa}

.nav li a{font:18px/1.5em 'Microsoft Yahei'}
.navbar .brand{font:20px 'Microsoft Yahei'}
.navbar-text{font:16px/2.8em 'Microsoft Yahei'}
.navbar-text .active{padding: 2px 10px;border-radius: 3px;margin-left: 5px}
#main{width: 940px;margin: 10px auto;}
#main ul{list-style: none;padding: 0;margin: 0}
#main a{text-decoration: none;}

.anony-reg{width: 940px;margin:auto;padding:20px 0 ;}
.index-reg{float: left;margin:10px 0 0 0;}
.index-reg b{font:16px 'Microsoft Yahei'; color: #666;margin: 0 12px;}
.index-login{float: right;margin-right: 50px;}
.index-login .control-group{float: left;margin: 0 3px;}
.reg-login-wrap {background: #fff;width: 100%;margin-top: 20px;}
.lnk-reg{background: #F24564;color: #fff;padding:7px 18px;border-radius: 2px;display: inline-block;}
.lnk-reg:hover{color: #fff;}

.side-ad a img{width: 300px;}

.player-box{float: left;width: 565px;}
.pics-box{float: right;width: 360px;height: 326px;overflow: hidden;}
.pics-box .vbox{margin-bottom: 10px}
.pics-box img{width: 360px;height: 160px;}

.tags{background: #FFF;margin: 0 0 10px 0;padding:10px;font:16px/2em 'Microsoft Yahei'; color: #333}
.tags a{font:14px/2em 'Microsoft Yahei';padding:0 5px;color: #666}
.tags a:hover{color: #ee0000;}

.comm-box{background: #FFF;}
.group-list{padding: 20px}
.group-list li{width: 220px;float: left;padding:10px;background: #F3F3F3;margin:5px 0 25px 45px;}
.group-list li img{width: 220px;}
.group-list li h4{color: #666}

.comm-left{width: 630px;float: left;}
.comm-right{width: 300px;float: right;}

.comm-box-footer{padding:8px 0 0 0;border-top: 1px dashed #ccc;margin:5px 0 0 0}
.comm-box-footer .user{float: left;}
.comm-box-footer .counter{float: right;margin:5px 0 0 0}

.comm-form{padding: 20px;background: #FFF;}
.title{margin-left: 100px}
.comm-form .help-block,.comm-form .checkbox a,.comm-form .checkbox{font-size: 12px}

.msgs-box{margin-left: 180px}
.msgs-box ul li{line-height: 2em}

.title-box{padding:8px;width: 884px;}
.title-box h4{font-weight: normal;margin:0;}
/*file upload*/
.btn-add-pic{
    display: block;
    position: relative;
    width: 140px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: #FFF;
	color: #999999;
    cursor: pointer;
	text-align: center;
	cursor: pointer;
}
.btn-add-pic span{display: block;line-height: 39px;}
.btn-add-pic em {
	background:url(/assets/add-pic.png) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}
.btn-add-pic:hover em{background-position:-19px 0;}
.file-prew {
    display: block;
	position: absolute;
    top: 0;
	left: 0;
    width: 140px;
	height: 39px;
	font-size: 100px; /* 增大不同浏览器的可点击区域 */
    opacity: 0; /* 实现的关键点 */
	filter:alpha(opacity=0);/* 兼容IE */
}

.likeable {float: left;margin:50px 0 0 0;}
.likeable span{color:#F64D52;font-size:12px;}
.small_like,.small_liked{width: 12px; height: 12px; background: url('/assets/small.png') -48px 0px no-repeat; display: inline-block;font-size:12px;}
.small_liked{background-position:-60px 0px;}

/*清除浮动 代码*/
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}/* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc {display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}