.user-container{background: #fff;}
.user-box{padding: 10px;background: #FFF;margin-bottom: 10px;width: 920px;margin: auto;position: relative;}

.ud-box{padding: 10px;background: #F3F3F3;margin-bottom: 10px}
.ud-box .num{display: block;float: left;margin: 0 15px;padding:10px }
.ud-box .num span{display: block;font:bold 20px '黑体';}
.ud-box .num .meta{color: #999;}
.ud-box .content{height: 80px;}

.ud-box h4{text-indent: 1em}
.ud-box ul li{float: left;margin:0 0 0 10px;text-align: center;}
.ud-box ul li img{width: 80px;}

.user-info{float: left;}
.user-info h4{text-indent: 1em}
.user-nav{padding:5px 10px;margin: 10px 0 0 0}
.user-nav  a{font: 16px/2em 'Micorsoft Yahei';padding: 5px 10px;color: #444}
.user-nav .active{text-decoration:underline;color: #ee0000;}
.nm{margin:0}

.u-ad a img{width: 300px;}

.user-groups li{background: #fff;padding:10px;width: 200px;margin:10px;float: left;}
.user-groups h4{text-align: center;}

.follow-box{position: absolute;right: 25px;top:10px;}