<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="act-list">
        <ul>
          <%= render partial: "activities", collection: @activities, as: :activity %>
        </ul>
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
</div>


