<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% (0..product.photos.count - 1).each do |i|%>
      <%= product_carousel_for(i) %>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% product.photos.each_with_index do |photo, index| %>
       <%= product_photo_carousel_for index do %>
         <%= photo_choose_helper(photo) %>
       <% end %>
    <% end %>
  </div>
</div>