<%= form_for @product ,html: {class: 'form-vertical'}, remote: true do |f| %>
	<div id="product_form" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="add_product_label">
				购物分享
			</h3>
		</div>
		<div class="modal-body">
			<p>
				<%= f.label :分享链接,:class => 'control-label'%> 
				<div class="controls"><input id="id_link" type="text" size="30" name="link"></div>
				<span>目前支持淘宝，天猫</span>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			
			<%= button_tag "提交", class: "btn btn-primary" %>

		</div>
	</div>
<% end -%>