<div class="home-index">
  <div class="row">
    <%= render 'public/flash_notice' %>
    <div class="col-xs-12">
      <div class="good-list">
        <ul id="products">
          <%= render partial: 'public/products', collection: @products, as: :product %>
        </ul>
        <div class="loading" style="display: none;"></div>
        <div class="message" style="display: none;"></div>
        <%= hidden_field_tag :offset, @offset %>
      </div>
    </div>
  </div>
</div>

