<div class="home-index">
  <%= render 'public/flash_notice' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="comm-form">
        <div class="col-sm-offset-2 col-sm-10">
          <h4>获取东西</h4>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">东西链接</label>
            <div class="col-sm-10">
              <input type="text" name="link" class="form-control" placeholder="复制东西的链接到这里试试, 支持淘宝……"/>
            </div>
          </div>
          <% unless @product.blank? %>
            <div class="form-group">
              <%= link_to photo_choose_helper(@product.photos.first), @product %>
              <%= link_to @product.title, @product %>
            </div>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="get-product" name="button" class="btn btn-primary">获取</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
    $('#get-product').click(function(){

      var link = $('input[name="link"]').val();



    });
});
</script>
