
<div id="product_form" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 id="add_topic_label">
      查看商品详情
    </h3>
  </div>
  <div class="modal-body">
    <p>
      <h5>商品标题</h5>
      <div class="controls"><%= link_to product.title, product.url %></div>

      <h5>商品链接与图片</h5>
      <div class="controls">
        <div class="thumbnail">
          <%= link_to(image_tag product.img, alt: product.title) %>
        </div>
      </div>
    </p>
  </div>

</div>
