<%if obj.errors.any?%>
   	<div class="alert alert-success">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
         <% @user.errors.full_messages.each do |msg| %>
	    <strong><%= msg%></strong>
        <%end %>
    </div>
    <script type="text/javascript">
    $(function(){
    	setTimeout(function(){
    		$(".alert").alert('close')
    	},3000)
    })
    </script>
<% end %>