<div id="footer">
	<div class="container">
		<p>
			<a href="/about">关于西瓜社</a>
			<a href="">联系我们</a>
			<a href="">友情链接</a>
			<a href="">意见反馈</a>
		</p>
		<p>Copyright &copy; 2012-2013 XIGUASHE.COM Corporation. All Rights Reserved</p>
	</div>
	
</div>
<%= render 'public/back_top'%>