<footer class="footer">
	<div class="container">
		<p>
			<a href="/about">关于西瓜社</a>
			<a href="/contact">联系我们</a>
		</p>
		<p>Copyright &copy; 2012-2014 XIGUASHE.COM Corporation. All Rights Reserved</p>
	</div>
</footer>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F056148fd9d667cefd578d869f0b6ee91' type='text/javascript'%3E%3C/script%3E"));

(function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_24845652_6296724_21804312", appkey: "", unid: ""}; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);
$(window).scroll(function(){
	$('.footer').hide();

	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
	});
})
</script>

<%= render 'public/back_top'%>