<!-- <div id="footer">
	<div class="container">
		<p>
			<a href="/about">关于西瓜社</a>
			<a href="/contact">联系我们</a>
			<a href="/links">友情链接</a>
			<%= link_to '意见反馈', feedbacks_path%>
		</p>
		<p>Copyright &copy; 2012-2013 XIGUASHE.COM Corporation. All Rights Reserved</p>
	</div>
	
</div> -->
<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21627701"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F056148fd9d667cefd578d869f0b6ee91' type='text/javascript'%3E%3C/script%3E"));

(function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_24845652_6296724_21804312", appkey: "21627701", unid: "",rd:"1" }; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);
</script>