<div id="header">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	  
	      <a href="/" class="brand">西瓜社</a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li><a href="/" target="_blank">首页</a></li>
	
	          <li><a href="/" target="_blank">小组</a></li>
	          <li><a href="/" target="_blank">话题</a></li>
	        </ul>
	      </div>

	      <form action="/search"  method="get" class="navbar-search pull-left">
            <%= text_field_tag :query, params[:query], :class => "span3", :placeholder => " 搜索其实很简单... " %>
          </form>

          <p class="navbar-text pull-right">
          	<% if current_logined? %>
          		<%= current_user.nickname%>
          	<% else %>
          	  <a href="#">登录</a>
          	  <a href="#" class="active">注册</a>
          	<%end%>  
          </p>
	    </div>
	  </div>
	</div>
</div>